<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854192540005-grrvgcba324v1mts68frp77qk15k2qbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854192540005-grrvgcba324v1mts68frp77qk15k2qbs</string>
	<key>API_KEY</key>
	<string>AIzaSyA0r0FxjHYmU_ZG5mETb68z4Cp98Azw_SI</string>
	<key>GCM_SENDER_ID</key>
	<string>854192540005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyeecehensley.alonelessApp</string>
	<key>PROJECT_ID</key>
	<string>aloneless-16197</string>
	<key>STORAGE_BUCKET</key>
	<string>aloneless-16197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854192540005:ios:b88c4786aebb6f0792798c</string>
</dict>
</plist>